*

!*.*

!*/

.vscode
lcs.c
failure.c
dna_lcs.dSYM
psuedo.md
hw2_output.txt
gpt.c
test.c
didntworkout.c
.DS_Store
dna_sequences.txt
hw2_input.txt
dna_lcs.c
ripe_old_write.c
lcs.dSYM
less_space.dSYM
pa2_ver2.c
less_space.c
tried_a_struct.c
